PORT=3001

WEB_URL=http://localhost:3000

MONGODB_URI=mongodb://localhost:27017/hive-dev?replicaSet=rs&directConnection=true
REDIS_URI=redis://:@localhost:6379

# STORAGE_ENDPOINT=https://fra1.digitaloceanspaces.com
# STORAGE_ACCESS_KEY_ID=youraccesskey
# STORAGE_SECRET=yoursecretkey
# STORAGE_BUCKET=yourbucket